{% extends 'PfeToolBundle::layout.html.twig' %}

{% block title_page %}<i class="glyphicon glyphicon-cloud-upload"></i> Ajouter un nouvel Outil{% endblock %}

{% block content -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tool') }}" class="btn btn-primary">Retour à la liste</a>
        </a>
    </li>
</ul>
{% endblock %}
