{% extends 'PfeWebBundle::layout.html.twig' %}

{% block title_page %}<i class="fa fa-plus-circle"></i> Nouvelle Homologation {% endblock %}

{% block content -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('homologation') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
