<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title_head %}Administration{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% stylesheets output='compiled/backend/main.css' filter='cssrewrite'
        'bundles/pfeweb/css/style.default.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" />

    {% endstylesheets %}

    <link rel="shortcut icon" href="{{ asset('bundles/pfeweb/images/tn.ico') }}" type="image/x-icon">

</head>
<body>
<section>

    {% include 'PfeWebBundle:Include:sidebar.html.twig' %}

    <div class="mainpanel">

        {% include 'PfeWebBundle:Include:header.html.twig' %}

        <div class="pageheader">
            <h2>{% block title_page %}<i class="fa fa-dashboard"></i>Tableau de board{% endblock %}</h2>
        </div>

        <div class="contentpanel" >
            {% block content %}
            {% endblock %}
        </div>
    </div><!-- mainpanel -->
</section>

{% javascripts output='compiled/main.js'
'bundles/pfeweb/js/jquery-1.10.2.min.js'
'bundles/pfeweb/js/jquery-migrate-1.2.1.min.js'
'bundles/pfeweb/js/bootstrap.min.js'
'bundles/pfeweb/js/modernizr.min.js'
'bundles/pfeweb/js/jquery.sparkline.min.js'
'bundles/pfeweb/js/toggles.min.js'
'bundles/pfeweb/js/retina.min.js'
'bundles/pfeweb/js/jquery.cookies.js'
'bundles/pfeweb/js/custom.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>

{% endjavascripts %}

</body>
</html>
