{% extends 'PfeWebBundle::layout.html.twig' %}
{% import 'PfeWebBundle:Macro:button.html.twig' as button %}

{% block title_head %}
    {{ 'title.head.new'|trans({}, 'checklist') }}
{% endblock %}

{% block title_page %}
    <i class="fa fa-wrench"></i> {{ 'title.page.new'|trans({}, 'checklist') }}
{% endblock %}

{% block content -%}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('checklist') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
